body {
  overflow-y: hidden;
  font-family: monospace;
  color: #888;
  background-color: #111;
}

a {
  color: #ccc;
  font-weight: bold;
}

span {
  display: inline-block;
  width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

ol, ul {
  overflow-x: hidden;
  height: calc(100vh - 3rem);
}

li a {
  animation: glow 10s ease-out;
}

@keyframes glow {
   0% { text-shadow: 0 0 5px #ff0; }
  90% { text-shadow: 0 0 4px #ee0; }
 100% { text-shadow: none; }
}
